<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Department</title>
    
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <% // Daisy UI %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="px-[32px] lg:px-[256px] flex justify-center items-center w-screen h-screen">
    
    <form class="w-full">
      <div class="card-title flex justify-between items-center">
        <h1 class="text-5xl text-white mb-[32px] font-bold">Edit Department</h1>
        <a href="/"><button type="button" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i>Return</button></a>
        </div>
      
          <div class="flex justify-between form-control mb-[16px]">
            <div class="firstname w-[100%] relative">
              <label class="label">
                <span class="label-text">Department Name</span>
              </label>
              <input type="text" placeholder="Department name" class="department-name input input-bordered w-full" required data-deptid="<%= data.department[0].dept_id %>" value="<%= data.department[0].dept_name %>"/>
            </div>
          </div>
          
          <div class="form-control">
            <div class="flex justify-between">
              <div class="w-full">
                <label class="label">
                  <span class="label-text">Supervisor</span>
                </label>
                <select class=" supervisor-menu birth-month select select-bordered w-full  text-neutral-content edit-employee-hiredmonth">

                    <% if (data.department[0].dept_supervisor == null) { %>
                      <option selected data-id="Employee">
                        Employee
                      </option>
                    <% } else { %>
                      <option data-id="Employee">
                        Employee
                      </option>
                    <% } %>
                  
                    <% data.employees.forEach(employee => { %>
                      <% if (Number(employee.emp_id) == Number(data.department[0].dept_supervisor)) {%>
                        <option selected data-id=<%= employee.emp_id %>>
                          <%=`${employee.first_name} ${employee.last_name}`%>
                        </option>
                      <% } else { %>
                        <option data-id=<%= employee.emp_id %>>
                          <%=`${employee.first_name} ${employee.last_name}`%>
                        </option>
                      <% } %>
                    <% }); %>
                </select>
              </div>   
          </div>
        </div>

        <div class="form-control mt-6">
          <button type="button" class=" edit-department-button btn btn-primary add-button">Edit Department</button>
        </div>
      </form>

      <script type="text/javascript" src="/js/department/editDepartment.js"></script>
</body>
</html>